<div class="loader" *ngIf="dataLoading"></div>
<div class="alert alert-danger" role="alert" *ngIf="error">
  An error occured. Here is the error : {{ errorMessage }}.
</div>
<button type="button" routerLink="/host-search" class="btn btn-primary">Search</button>
&nbsp;
<button type="button" routerLink="/host-result" class="btn btn-primary">Top Results</button>
<br/><br/>
<div *ngIf="!savedChanges else savedForm">
  <h6>Update Host</h6>
  <form class="form-signin" #editForm="ngForm" (ngSubmit)="setHost(editForm.value)">
      <input type="text" id="inputName" name="inputName" class="form-control" placeholder="Name"
      #inputName="ngModel" autofocus required ngModel minlength="3" maxlength="50" [ngModel]="docData?.inputName">
      <div class="alert alert-danger" role="alert" *ngIf="inputName.invalid && (inputName.dirty || inputName.touched)">
          Please enter a valid Name between 3 and 50 characters.
        </div>
      <input type="text" id="inputAddress" name="inputAddress" class="form-control" placeholder="Address"
      #inputAddress="ngModel" autofocus required ngModel minlength="3" maxlength="150" [ngModel]="docData?.inputAddress">
      <div class="alert alert-danger" role="alert" *ngIf="inputAddress.invalid && (inputAddress.dirty || inputAddress.touched)">
          Please enter a valid Address between 3 and 150 characters.
        </div>
      <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email address"
      #inputEmail="ngModel" email autofocus required ngModel [ngModel]="docData?.inputEmail">
      <div class="alert alert-danger" role="alert" *ngIf="inputEmail.invalid && (inputEmail.dirty || inputEmail.touched)">
          Please enter a valid email.
        </div>
      <input type="text" id="inputPhone" name="inputPhone" class="form-control" placeholder="Phone"
      #inputPhone="ngModel" pattern="^\d*\.?\d+$" minlength="10" autofocus required ngModel [ngModel]="docData?.inputPhone">
      <div class="alert alert-danger" role="alert" *ngIf="inputPhone.invalid && (inputPhone.dirty || inputPhone.touched)">
          Please enter a valid phone number.
        </div>
      <input type="text" id="inputComments" name="inputComments" class="form-control" placeholder="Comments"
      #inputComments="ngModel" autofocus required ngModel [ngModel]="docData?.inputComments">
      <div class="alert alert-danger" role="alert" *ngIf="inputComments.invalid && (inputComments.dirty || inputComments.touched)">
          Please enter valid comments.
        </div>
        <div *ngIf="!editForm.valid else showSubmitButton">
            <button class="btn btn-lg btn-light btn-block" disabled="" type="button">Update Host</button>
          </div>
          <ng-template #showSubmitButton>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Update Host</button><br/>
              <button type="button" (click)="deleteHost()" class="btn btn-info">Delete Host</button>
          </ng-template>
    </form>
</div>
<ng-template #savedForm>
    <br/><br/>
    <div class="alert alert-danger" role="alert" *ngIf="!error">
        Your changes are saved.
      </div>
    <br/><br/>
  <button routerLink="/host-result" class="btn btn-lg btn-primary" type="button">Back to Results</button>
</ng-template>
