<main role="main" class="inner cover">
  <h1 class="cover-heading">Visitor Management App</h1>
  <span class="lead">
    An Electronic Visitor register App for storing Host & Guest Records, Picture Attendance with GPS Locations
    <br /><br />
    <h2>Objective</h2>
    Store all visitor & host records electronically.<br />
    1. Paperless Records for Visitors and Host<br />
    2. Save Visits with Pictures and GPS Locations<br />
    3. Online and/or Offline App<br />
    4. One App for multiple platforms (iOS, Android, Desktop, Cloud etc.)<br />
    5. Unlimited Storage (only limited to server/database hosting).<br />
    6. Store and Access millions of records instantly.<br />
    7. Paperless and Mobile on-premise App.<br />
    8. Instant access to ALL guest/host historical records at guest check-in.<br />
    9. No Thumb expressions or card punching to verify identify.<br />
    10. Auto Face Recognition (Pro version only).<br />

    <i>send an email to info@elishconsulting.com for Pro version enquiries.</i>
    <h2><a href="https://www.youtube.com/playlist?list=PLp0TENYyY8lHJGZX6-Ek4MkvAnzWmC9oa">Video Tutorials Link!</a>
    </h2>
  </span>
</main>